DEBUG=1
SECRET_KEY=some secret key
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=name of database, by default postgres
SQL_USER=username, by default postgres
SQL_PASSWORD=password, by default postgres
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
super_user_login=login
super_user_password=password
super_user_mail=login@example.com
AWS_ACCESS_KEY_ID=<aws access key id>
AWS_SECRET_ACCESS_KEY=<aws secret access key>
AWS_STORAGE_BUCKET_NAME=< aws bucket name>
